/* sticky footer css*/
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* END sticky footer CSS */

nav,
footer {
    background-color: var(--ma-theme-900);
    color: var(--ma-theme-100)
}

footer .bi {
    color: var(--ma-theme-200);
    font-size: 1.5rem;
    padding-inline-start: .25rem;
    transition: color .25s
}

footer .bi:hover {
    color: var(--ma-theme-400);
}

.nav-link:hover {
    color: var(--ma-theme-300);

}

.checklist {
    list-style-type: none;
}

.checklist .bi {
    color: var(--ma-theme-core);
}

.devicon {
    font-size: 3.3rem;

}

.btn-primary {
    --bs-btn-bg: var(--ma-theme-600);
    --bs-btn-border-color: var(--ma-theme-600);
    --bs-btn-hover-bg: var(--ma-theme-700);
    --bs-btn-hover-border: var(--ma-theme-700);
    --bs-btn-active-bg: var(--ma-theme-800);
    --bs-btn-active-border: var(--ma-theme-800);
}

.app-logo {
    max-width: 369px;
}

thead.table-secondary {
    background-color: var(--ma-theme-600);
}


/*<tr> THIS IS FOR MY JAVASCRIPT NOTES
            <td class="month"></td>
            <td class="payment"></td>
            <td class="principal"></td>
            <td class="interest"></td>
            <td class="total-interest"></td>
            <td class="balance"></td>
        </tr>*/
/*if ((loan) * (inter / 1200) / (1 - (1 + inter / 1200) ^ (-term))) {
             totalMonthly = ''*/

/*function getValues() {
                // other code...
            
                let loanSummary = calculateSummary(amount, months, rate);
                displaySummary(loanSummary);
            }*/

/*function calculateSummary(amount, months, rate) {
                // calculate monthly payment...
            
                let cost = payment * months;
                let interest = cost - amount;
            
                let summary = {
                    amount: amount,
                    totalCost: cost,
                    totalInterest: interest,
                    monthlyPayment: payment,
                };
                
                return summary;
            }
            
            function displaySummary(loanSummary) {
                // other code...
            
                // THIS WON'T WORK!
                monthlyPaymentElement.innerText = loanSummary;
                // loanSummary is an object, so it displays as "Object object"
            
                // note: innerText is set to be the specific property we want,
                // not the whole object. The values are accessed by name  
                monthlyPaymentElement.innerText = loanSummary.monthlyPayment;
                totalInterestElement.innerText = loanSummary.totalInterest;
                totalCostElement.innerText = loadnSummary.totalCost;
                loanAmountElement.innerText = loanSummary.amount;
            }*/